*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1 span{
    margin-left:.7em;
}
*::selection{
    background:orange;
}
body{
    margin:.5em;
    font-family:poppins;
}
section{
    margin:1em 0;
    overflow:hidden;
}
.title,.subtitle{
    /* display:inline-block; */
    margin-top:1em;
    margin-bottom:-1em;
    font-size:1rem;
    font-weight:600;
    text-align:center;
    color:rgba(51, 51, 51, 0.726);
}
.subtitle{
    font-size:.9em;
    color:rgba(51, 51, 51, 0.363);

}
.subtitle span{
    margin-top:-2em;
    font-size:.75em;

}
.total{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: .5em;
    padding: 1.3em .5em;
}
.t-info{
    background: linear-gradient(45deg,rgba(255, 166, 0, 0.616),orange);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:.5em;
    border-radius:.4em;
    color:rgb(51, 50, 50);
    transition:.4s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.226);
    font-size:1rem;
    font-weight:600;
}
.line-wrapper{
    margin-top:2em;
}
#linechart_material,#donutchart{
    width: 90vw;
    height:60vh; 
}
.select{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}
select{
    border-radius:.4em;
    width:calc(100% - 1em);
    padding:.5em;
    margin: 0 .5em;
    margin-bottom:1em;
    font-family: poppins;
    font-weight:600;
    text-align: center;
    border : 2px solid orange;
    /* background:red; */
    /* color:orange; */

}

.legend{
    
    display:flex;
    margin:1em auto;
    justify-content:space-around;
    max-width:34em;
}
.legend span{
    font-size:.8em;
    opacity:.7;
    position:relative;
    

}
.legend span::before{
    content:'';
    position: absolute;
    width:50%;
    height:2px;
    bottom:-.3em;

    width:.75em;
    height:.75em;
    left:-1.7em;
    top:50%;
    transform:translateY(-50%);
    background-color: red;
    border-radius:3px;
    box-shadow:0 0 4px red,0 0 10px rgba(255, 0, 0, 0.301);
}
.legend span:nth-of-type(2):before{
    background-color: blue;
    box-shadow:0 0 4px blue,0 0 10px rgba(0, 0, 255, 0.301);

}
.legend span:nth-of-type(3):before{
    background-color: green;
    box-shadow:0 0 4px green,0 0 10px rgba(0, 255, 0, 0.301);

}
.nut-wrapper legend{
    margin-top: -10em;
}
form{
    display:flex;
    justify-content: space-around;
    width:100%;
    max-width:34em;
    margin:0 auto;

}
form input{
    display: none;
}
label span{
    font-size:.77em;
    opacity:.7;
    margin-left:2.3em;
}
label{
    position:relative;
    width:1.5em;
    height:1.5em;
    background:#eddddd;
    border-radius: 50%;
    /* padding:1em; */
    
}

label::after{
    content:'';
    width:0;
    height:0;
    left:50%;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);

}
input:checked + label::after{
    left:50%;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    width:50%;
    border-radius: 50%;
    height:50%;
    background:orange;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.466);
}
input[type=submit]{
    /* width:100%; */
    font-size: 1rem ;
    padding:.7em 2em;
    margin:.5em;
    background: orange;
    border:0;
    font-family: poppins;
    font-weight:700;
    position:fixed;
    right:0;
    bottom:0;
    z-index:100000;
    border-radius:10px;
    outline:none;
    transition:.2s ease-in;
}
.go{
    transition: .2s ease-out;
    transform: translateY(150%);
}
#title{
    text-align: center;
    text-transform:uppercase;
    letter-spacing: .2em;
    font-weight:900;
    line-height: 1.2em;
    font-size:min(max(1rem,8vw),3rem);
    /* background-size: 500%; */
    color:orange;
    text-shadow:0 0 3px rgba(0, 0, 0, 0.644);

}
#subtitle{
    text-align: center;
        font-weight:500;
        opacity:.5;
}
.t-info:hover span,.s_info:hover span{
    transform : scale(1.2);
    text-shadow:0 0 5px rgba(0, 0, 0, 0.233);
}
@media (min-width:550px){
    .total,.states{
        gap:1em;
        /* padding:2em 0; */
    /* grid-template-columns: repeat(auto-fit,minmax(40%,1fr)); */

    }
    label:hover{
        background:#ccc;
        transition: .4s;
    }
    .t-info{
        padding:1em;
        transition:.3s;
    }
    .title,.subtitle{
       font-size: 1.1rem;
    }
    .nut-wrapper:hover .title,
    .line-wrapper:hover .title,
    .line-wrapper:hover .subtitle{
        transform : scale(1.1);
        text-shadow:0 0 10px rgba(0, 0, 0, 0.315);
    }
    select{
        padding:1em;
        font-size:1rem;

    }
    input[type=submit]{
        position: relative;
        right:-50%;
        padding:.5em 3em;
        transform: translate(-50%);
        text-transform: uppercase;
        font-weight:900;
        font-size: 1.5rem;
        cursor:pointer;
        background-size: 100%;
        letter-spacing: .2em;
        border : 3px solid orange;
        transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 
    }
    input[type=submit]:hover{
        background:transparent;
        /* color:orange; */
    }

}




/* body{
    /* background:rgb(41, 41, 41); 
}
@keyframes anim{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
input[type=submit]{
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    animation:anim 4s infinite alternate;

} */